/* mise en forme page */
body {
	padding: 0;
	margin: 0 auto;
	width: 90%;
}

html {
	box-sizing: border-box;
	color: #353535;
	font-family: Lato, 'Helvetica Neue', Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
}

/* mise en forme en tete */
header {
	display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 17px;
}

header img {
	height: 90px;
    width: 260px;
}

/* mise en forme de la barre de recherche principale*/
.searchBar {
    height: 69px;
    width: 100%;
    background-color: #E7E7E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

#searchBarInput {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-left: 17px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-color: #E7E7E7;
    color: black;
    position: relative;
    cursor: pointer;
    outline: none;
}

#searchBarInput::placeholder {
    font-size: 18px;
    color: #C7BEBE;
    font-weight: 700;
}

.searchBarButton {
    font-size: 32px;
    position: relative;
    right: 20px;
    border: none;
    background-color: transparent;
}

/* mise en forme des dropdown*/
.filterSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    z-index: 1;
    position: relative;
    margin-top: 20px;
}

.dropdownFilter {
    width: 170px;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    position: relative;
    z-index: 1;
    box-sizing: content-box;
}

.dropdown {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
}

.ingredientsList, 
#ingredientsDropdown,
.ingChoiseListToTag {
    background-color: #3282F7;
}

.appliancesList, 
#appliancesDropdown,
.appChoiseListToTag {
    background-color: #68D9A4;
}

.ustensilsList, 
#ustensilsDropdown,
.ustChoiseListToTag {
    background-color: #ED6454;
}

.listIng,
.listApp,
.listUst {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.ingChoiseListToTag,
.appChoiseListToTag,
.ustChoiseListToTag {
    font-size: 14px;
    font-weight: 200;
    color: white;
    overflow: hidden;
    padding: 5px;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
    border: none;
}

input::placeholder {
    font-size: 18px;
    color: white;
    font-weight: 700;
}

input:focus::-webkit-input-placeholder {
    color: #E7E7E7;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

input {
    width: 100%;
    background-color: transparent;
    font-size: 18px;
    padding-left: 20px;
    color: white;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
}

.fas {
    padding-right: 10px;
    font-size: 20px;
}

@keyframes dropdown {
    0% {
      width: 170px;
    }
    100% {
      width: 600px;
    }
}

/* mise en forme des tags */
#tagsBar {
    margin-top: 18px;
    gap: 20px;
}
    
.chip {
    border : none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.closeTag {
    padding-left: 5px;
    font-size: 18px;
}

.chip-ingredients {
    background-color: #3282F7;
}
    
.chip-appliances {
    background-color: #68D9A4;
}
    
.chip-ustensils {
    background-color: #ED6454;
}

/* mise en forme des recettes */
#recipesGallery {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 20px;
    width: 100%;
    margin-top: 20px;
    box-sizing: content-box;
}

.recipeCard {
	background-color: #E7E7E7;
    min-width: 400px;
    max-height: 600px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.recipeImg {
    background-color: #C7BEBE;
    height: 160px;
    border-radius: 5px 5px 0px 0px;
}

.recipeCardTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 5px 20px;
}

.recipeCardTitle h1{
    font-size: 20px;
    font-weight: 350;
    margin: 10px 0px 10px 0px;
    height: 25%;
    text-overflow: ellipsis;
    width: 70%;
}

.recipeTime {
    font-size: 21px;
    width: 28%;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
}

.recipeInfo {
    height: 120px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 0px 20px 0px 20px;
}

.recipeIngredients {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.recipeIngredients p {
    margin: 0;
}

.recipeMethod {
    width: 55%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

