/* mise en forme page */
body {
	padding: 0;
	margin: 0 auto;
	width: 90%;
}

html {
	box-sizing: border-box;
	color: #353535;
	font-family: Lato, 'Helvetica Neue', Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
}

/* mise en forme en tete */
header {
	font-family: Lato, sans-serif;
	text-align: center;
}

header img {
	margin-top: 3rem;
	width: 10rem;
}

/* mise en forme barre de recherche */
#searchBar {
    margin: 0 auto;
    position: relative;
    width: 95%;
}

#searchBar>i {
    background-color:#E7E7E7;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 2.2rem;
}

#searchBarInput {
    background-color: #E7E7E7;
    border: #FFF solid 1px;
    border-radius: 5px;
    font-size: 1rem;
    height: 2.8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    outline: none;
    padding: 2rem;
    text-overflow: ellipsis;
    width: 100%;
}

/* mise en forme barre des filtres */
#filtersBar {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap;*/
    justify-content: space-between;
    margin: 1rem auto;
    padding: 0;
    width: 95%;
}

#closeIngredientsFilter,
#closeAppliancesFilter,
#closeUstensilsFilter {
    font-size: 1.2rem;
    left: 32rem;
    position: absolute;
    top: 1.8rem;
}

#hiddenIngredientsFilter,
#hiddenAppliancesFilter,
#hiddenUstensilsFilter {
    border-radius: 5px;
    color: #ffff;
    display: none;
    position: absolute;
    top: 16.2rem;
    width: 35rem;
    z-index: 10;
}

#ingredients>button,
#appliances>button,
#ustensils>button {
    align-items: center;
    border: none;
    border-radius: 0.4rem;
    color: #ffff;
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    height: 4.3rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    transition: linear .3s;
    width: 11rem;
}

#inputIngredients,
#inputApplinaces,
#inputUstensils {
    border: none;
    border-radius: 5px;
    color: #ffff;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    height: 4.3rem;
    outline: none;
    padding: 2rem;
    width: 100%;
}

#hiddenIngredientsFilter,
#ingredients>button,
#inputIngredients {
    background-color: #3282F7;
}

#hiddenAppliancesFilter,
#appliances>button,
#inputApplinaces {
    background-color: #68D9A4;
}

#hiddenUstensilsFilter,
#ustensils>button,
#inputUstensils {
    background-color: #ED6454;
}

/* mise en forme des recettes */
#recipeGallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0;
}

.recipeArticle {
	background-color: #E7E7E7;
	border-radius: .3125rem;
	height: auto;
	margin-bottom: 2.5rem;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	width: 22rem;
}

.recipeCard {
    display: flex;
	margin-left: 1rem;
	margin-right: 1rem;
}

.recipeIngredients {
    font-size: .8rem;
	margin: .125rem 0;
}

.recipeIngredients
.recipeMethod {
    display: flex;
    font-size: .8rem;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 50%;
}

.recipeTitle {
	align-items: center;
	background-color: #E7E7E7;
	display: flex;
	justify-content: space-between;
	margin-left: 1rem;
	margin-right: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.recipeTitle h2
.recipeTitle span {
	font-size: 1.2rem;
	font-weight: 700;
}

.recipeTitle span i {
	margin-right: .3rem;
}

.chip {
border : 1px solid grey;
border-radius: 50px;
}